<?xml version="1.0" encoding="utf-8"?>
<Directory Name="Config">
  <File Name="aidebug.cfg" CRC32="0xF061FFCF" Size="105" CompressionType="100" Encrypted="False" />
  <File Name="artprof_user.cfg" CRC32="0x366D27FA" Size="197" CompressionType="100" Encrypted="False" />
  <File Name="artprof.cfg" CRC32="0x894DC6C3" Size="856" CompressionType="100" Encrypted="False" />
  <File Name="autoexec-server.cfg" CRC32="0x8D3FB86A" Size="38" CompressionType="100" Encrypted="False" />
  <File Name="autoexec.cfg" CRC32="0x00000000" Size="0" CompressionType="0" Encrypted="False" />
  <File Name="AutoTestChain.cfg" CRC32="0xFC2E6C24" Size="297" CompressionType="100" Encrypted="False" />
  <File Name="AutotestPlaythrough.cfg" CRC32="0x5CB5929B" Size="179" CompressionType="100" Encrypted="False" />
  <File Name="AutoTestTimeDemo.cfg" CRC32="0x5DFDB1F4" Size="246" CompressionType="100" Encrypted="False" />
  <File Name="benchmark_cpu.cfg" CRC32="0x90374CD2" Size="230" CompressionType="100" Encrypted="False" />
  <File Name="benchmark_gpu.cfg" CRC32="0x13A73678" Size="230" CompressionType="100" Encrypted="False" />
  <File Name="config.dat" CRC32="0xDC87B136" Size="65751" CompressionType="100" Encrypted="False" />
  <File Name="highspec.cfg" CRC32="0x6B57394D" Size="17" CompressionType="100" Encrypted="False" />
  <File Name="lowspec.cfg" CRC32="0x62AA32C9" Size="19" CompressionType="100" Encrypted="False" />
  <File Name="medspec.cfg" CRC32="0x993CBA4E" Size="17" CompressionType="100" Encrypted="False" />
  <File Name="mgpu.cfg" CRC32="0x36040CDE" Size="171" CompressionType="100" Encrypted="False" />
  <File Name="mobile.cfg" CRC32="0xC2F2DA7E" Size="4129" CompressionType="100" Encrypted="False" />
  <File Name="multiplayer_pc.cfg" CRC32="0xB0C6151D" Size="19" CompressionType="100" Encrypted="False" />
  <File Name="multiplayer.cfg" CRC32="0x2D98CAF7" Size="424" CompressionType="100" Encrypted="False" />
  <File Name="performance.cfg" CRC32="0xAD2B9DB8" Size="169" CompressionType="100" Encrypted="False" />
  <File Name="recording.cfg" CRC32="0x8E5ACF68" Size="1450" CompressionType="100" Encrypted="False" />
  <File Name="singleplayer.cfg" CRC32="0xE25B5A63" Size="85" CompressionType="100" Encrypted="False" />
  <File Name="sketch_off.cfg" CRC32="0xA3EAF2AA" Size="186" CompressionType="100" Encrypted="False" />
  <File Name="sketch_on.cfg" CRC32="0xA0EE35F1" Size="190" CompressionType="100" Encrypted="False" />
  <File Name="statoscope.cfg" CRC32="0x29EE0A0F" Size="334" CompressionType="100" Encrypted="False" />
  <File Name="transparentScreenshot.cfg" CRC32="0x8170AE14" Size="136" CompressionType="100" Encrypted="False" />
  <File Name="ultrares.cfg" CRC32="0x21A546E1" Size="484" CompressionType="100" Encrypted="False" />
  <File Name="veryhighspec.cfg" CRC32="0x593504AD" Size="19" CompressionType="100" Encrypted="False" />
  <File Name="vid_capture_reset.cfg" CRC32="0x70B3E152" Size="45" CompressionType="100" Encrypted="False" />
  <File Name="vid_capture_setup.cfg" CRC32="0xD191C3CA" Size="158" CompressionType="100" Encrypted="False" />
  <File Name="vid_capture_start.cfg" CRC32="0xB9D902C0" Size="107" CompressionType="100" Encrypted="False" />
  <File Name="vid_capture_stop.cfg" CRC32="0xF0F9BC1B" Size="109" CompressionType="100" Encrypted="False" />
</Directory>